body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

@media (max-width: 620px) {
  body {
    margin: 20px 20px 0 20px;
  }
  h1 {
    font-size: 3rem;
  }
}

.left {
  text-align: left;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.right {
  text-align: right;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-content {
  font-size: 1rem;
  color: #333;
}
.tile-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.tile {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
} 

.background-gradient {
  background: linear-gradient(to right, #000000, #e08640);
  background-clip: text;
  -webkit-text-fill-color: transparent;
} 